# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/

# SQLite / database files
*.db
*.sqlite3

# VS Code settings
.vscode/

# IDE/editor files
*.idea/

# Logs
*.log

# OS files
.DS_Store
Thumbs.db

# Python packaging
*.egg-info/
dist/
build/

# Environment variables
.env
